@model CVC19.ViewModel.TipoVacinaViewModel

@{
    ViewData["Title"] = "Tipo de Vacina - Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title text-secondary">Tipo de Vacina</h4>
        <div class="col-md-12 mt-4"><hr /></div>
        <h5 class="text-secondary mt-4">Voce deseja realmente excluir?</h5>
        <dl class="row">
            <dt class="col-sm-2 text-secondary">
                @Html.DisplayNameFor(model => model.TipoVacinaId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TipoVacinaId)
            </dd>
            <dt class="col-sm-2 text-secondary">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2 text-secondary">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </dl>
        <div class="col-sm text-end">
            <form id="myform" asp-action="Delete">
                <input type="hidden" asp-for="TipoVacinaId" />
                <a href="#" onclick="$('#myform').submit()"><i class="bi bi-x-square text-danger" style="font-size: 2rem" title="Excluir"></i></a>
                <a asp-action="Index"><i class="bi bi-arrow-left-square" style="font-size: 2rem" title="Voltar"></i></a>
            </form>
        </div>
    </div>
</div>
